<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAe23m82-16XCBvjLpoiz9KCY-0gMVn8kQ</string>
	<key>GCM_SENDER_ID</key>
	<string>556751661372</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.avlasolutions.yourflow</string>
	<key>PROJECT_ID</key>
	<string>yourflow-app</string>
	<key>STORAGE_BUCKET</key>
	<string>yourflow-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:556751661372:ios:e29aa9329b4d2cf431d639</string>
</dict>
</plist>